div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
}

div li{
    list-style-type: none;
}

.contactPageContainer {
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
}

.grupo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.grupo input {
    flex: 1;
    margin-right: 10px;
}

.grupo input:last-child {
    margin-right: 0;
}

.grupo input {
    width: 250px;
    height: 30px;
}

.grupo .comentarios {
    height: 100px;
    width: 550px;

}

.titleContainer {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Espacio entre el título y el contenido */
}