.NavPages ul {
    list-style-type: none;
    margin: 0;
    display: flex; /* Utilizamos flexbox */
    flex-wrap: wrap; /* Permitimos que los elementos se envuelvan en múltiples líneas si es necesario */
    align-items: center; /* Centramos verticalmente los elementos */
    justify-content: center; /* Centramos horizontalmente los elementos */
    
}

.NavPages ul li a {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Heredar el color del texto */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

.image {
    height: 100px;
    background-color: white;
    display: flex;
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.image img {
    margin-left: 100px;
    height: 100%; 
    animation: fadeIn 0.5s ease-in-out forwards;
}


.image ul {
    list-style-type: none;
    margin: 0;
    display: flex; /* Utilizamos flexbox */
    flex-wrap: wrap; /* Permitimos que los elementos se envuelvan en múltiples líneas si es necesario */
    align-items: center; /* Centramos verticalmente los elementos */
    justify-content: center; /* Centramos horizontalmente los elementos */
}

.image li {
    width: 10%;
    text-align: center; /* Centramos el texto horizontalmente */
}

.NavPages li {
    display: inline-block; /* Hace que los elementos de la lista se muestren en línea */    
    margin-right: 80px;
}

.NavPages li p {
    margin: 0; /* Elimina los márgenes predeterminados del párrafo */
    padding: 15px; /* Añade relleno alrededor del texto */
    color: white; /* Color del texto */
}



.NavPages {
    display: flex;
    justify-content: space-around; /* Ajusta el espacio alrededor de los elementos */
    align-items: center;
    text-align: center;
}


.hovered {
    background-color: rgb(29, 29, 103); /* Cambia el color al pasar el ratón sobre el elemento */
}

.navbar {
    background-color: rgb(4, 4, 53);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.NavPages p {
    font-size: 14px;
    font-weight: bold;
}

.headerContact li {
    margin-right: 150px;
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Alineamos verticalmente los elementos */
    flex-wrap: wrap;
    white-space: nowrap;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.headerContact p{
  font-size: 15px
}   

.NavPages p:hover {
    background-color: rgb(14, 14, 104); /* Cambia el color al pasar el ratón sobre el elemento */
}

.NavPages li a {
    display: block; /* Hace que los enlaces ocupen todo el ancho del contenedor */
    text-decoration: none; /* Quitar subrayado del enlace */
}